<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="example.com.finder" >

    <!-- Needed for general bluetooth -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!-- Needed for bluetooth device discovery -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Activities.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.WorkerActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Activities.PeopleActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Activities.ServerActivity"
            android:label="@string/app_name" >
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/APP_ID" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationName"
            android:value="@string/app_name" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Activities.PersonDetailActivity"
            android:label="@string/title_activity_person_detail" >
        </activity>
    </application>

</manifest>
